.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.text-12 {
  font-size: 1.2rem;
}
.text-30 {
  font-size: 3rem;
}
.text-40 {
  font-size: 4rem;
}
.title-large {
  font-size: 6rem;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.max-w-\[110rem\] {
  max-width: 110rem;
}
.w-\[50\%\] {
  width: 50%;
}
.w-unset {
  width: unset;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.items-end {
  align-items: flex-end;
}

.p-10 {
  padding: 1rem;
}
.px-15 {
  padding-left: 1rem;
}
.px-20 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-10 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.py-60 {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.mb-5 {
  margin-bottom: 0.5rem;
}
.m-0 {
  margin: 0;
}
.b-0 {
  border: 0;
}

.rounded-10 {
  border-radius: 1rem;
}
.rounded-5 {
  border-radius: 0.5rem;
}

.bk-white {
  background: white;
}
.bk-black {
  background: black;
}
.bk-transparent {
  background: transparent;
}
.bk-grey {
  --tw-bg-opacity: 1;
  background: rgba(244, 244, 244, var(--tw-bg-opacity));
}
.text-white {
  color: white;
}

.header {
  padding-top: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
  z-index: 3;
  top: 0;
  position: fixed;
  --tw-text-opacity: 1;
  /* color: rgba(255, 255, 255, var(--tw-text-opacity)); */
}
.footer {
  bottom: 0;
  position: fixed;
  width: 95%;
}

.navicon {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 14rem;
}

.contentwrapper {
  width: 100%;
}

.section-textBlock {
  width: 100%;
  padding: 3rem 0 3rem 0;
}

@media only screen and (max-device-width: 1000px) {
  .mflex-col {
    flex-direction: column-reverse;
  }
  .mw-\[100\%\] {
    width: 100%;
  }
  body {
    min-height: 60rem;
  }
  .footer {
    bottom: 0;
    position: unset;
    width: 95%;
  }
}
